.screen {
  position: relative;
  display: inline;
  width: 100%;
  height: 100%;
  float: left;
}

.window {
  width: calc(100vw - 645px);
  height: calc(80vw - 645px);
  max-height: calc(100vh - 252px);
}
