.screen {
  position: relative;
  display: inline;
  max-height: 100%;
  max-width: 100%;

  float: left;
}

.window {
  width: calc(100vw - 645px);
  height: calc(100vw - 750px);
  max-height: calc(100vh - 252px);
}
