.box {
  width: 50px;
  height: 10px;
}

.chat {
  height: 100vh;
  width: 400px;
  background-color: var(--light-colour);
  position: absolute;
  top: 0;
  right: 0;
}

.inputArea {
  width: 370px;
  position: absolute;
  bottom: 10px;
  left: 0;
  margin: 0 15px 55px 15px;
}

.input {
  background-color: var(--light-colour);
  color: var(--white);
  border-color: var(--light-colour);
  font-size: 13px;
  resize: none;
}

.input:focus {
  outline: none;
}

.inputdialog {
  float: left;
  margin: 10px 0 0 5px;
  color: var(--white);
  font-size: 13px;
  font-weight: 500;
}

.checkbox {
  margin: 0 5px 0 20px;
}

.sendButton {
  width: 55px;
  height: 22px;
  background-color: var(--light-colour);
  border: 1px solid var(--white);
  border-radius: 100px;
  color: var(--white);
  font-size: 13px;
  font-weight: 500;
}

.sendButton:hover {
  background-color: var(--white);
  border: 1px solid var(--white);
  color: var(--light-colour);
}

.leftButton {
  border: 1px solid var(--white);
  background-color: var(--light-colour);
  color: var(--white);
  border-radius: 50px 0 0 50px;
  font-size: 17px;
  width: 105px;
  height: 30px;
}

.singleButton {
  border-radius: 50px;
  width: 105px;
  height: 30px;
  border: 1px solid var(--white);
  background-color: var(--light-colour);
  color: var(--white);
  font-size: 17px;
}

.rightButton {
  border: 1px solid var(--white);
  background-color: var(--light-colour);
  border-radius: 0 50px 50px 0;
  color: var(--white);
  font-size: 17px;
  width: 105px;
  height: 30px;
}

.rightButton:hover,
.leftButton:hover {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--light-colour);
}

.splitButton {
  margin: 20px 0 0 0;
}

.message-list {
  padding: 0;
  margin: 0;
}

.isAnonymous {
  display: inline;
}

.messages {
  float: left;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 400px;
  margin: 10px 0 0 0;
  height: calc(100vh - 220px);
  scroll-behavior: smooth;
  scrollbar-color: var(--dark-colour) transparent;
}
