.message {
  background-color: #161616;
  margin: 20px;
  list-style: none;
  border-radius: 10px;
  padding: 10px;
  min-height: 40px;
  text-align: left;
  display: block;
  position: relative;
}

.message div:nth-child(1) {
  font-size: 11px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin: -5px 0 2px 0;
  float: left;
}

.message div:nth-child(2) {
  font-size: 11px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-bottom: 2px;
  margin-top: -5px;
  float: right;
}

.message div:nth-child(3) {
  margin-top: 5px;
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.text {
  word-wrap: break-word;
  width: 250px;
  display: inline-block;
}

.arrows {
  position: absolute;
  top: calc(60% - 19px);
  right: 0;
  height: 37px;
  margin-right: 35px;
  line-height: 28px;
}

.votes {
  position: absolute;
  margin: 5px 10px 10px 5px;
  color: #25d959 !important;
  display: inline;
}

.button {
  background: transparent;
  border: none;
  padding: 2px;
  margin: 5px 0px 5px 0px;
}

.button:hover {
  filter: brightness(200%);
}

.arrowIcon {
  font-size: 24px;
}
