.gallerycontainer {
  position: fixed;
  background-color: var(--light-colour);
  height: 400px;
  top: 0;
  height: calc(100vh - 252px);
  width: 225px;
  right: 410px;
  overflow: hidden;
}

.arrow:hover {
  background-color: var(--grey);
  color: var(--light-colour);
}

.arrow {
  width: 225px;
  height: 25px;
  background-color: var(--dark-colour);
  font-size: 18px;
  line-height: 25px;
  color: var(--grey);
}

.bottomArrow {
  position: absolute;
  bottom: 0;
}

.user {
  background-color: #2e2e2e;
  width: 215px;
  height: 125px;
  margin: 10px 5px;
  border-radius: 5px;
  line-height: 125px;
  font-size: 20px;
  color: var(--grey);
}
